@{
    ViewData["Title"] = "Home Page";
}

<style>
    .textdec {
        text-decoration:none;
    }
</style>
<!--<div class="d-flex container bd-highlight justify-content-between pt-4">-->
<div class="container">
    <div class="row align-content-center">
        <div class="col-sm py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="material-icons">
                            theater_comedy
                        </span> Comedy
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Comedy</h6>
                    <p class="card-text">Comedy Genre Movies To Rent or Buy.</p>
                    <a href="#" class="card-link textdec">View</a>
                    <a href="#" class="card-link textdec">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <span class="material-icons">
                            theater_comedy
                        </span> Drama
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Drama</h6>
                    <p class="card-text">Drama Genre Movies To Rent or Buy.</p>
                    <a href="#" class="card-link textdec">View</a>
                    <a href="#" class="card-link textdec">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm py-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="material-icons">
                                video_camera_front
                            </span> Documentaries
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Documentary</h6>
                        <p class="card-text">Documentaries Genre Movies To Rent or Buy.</p>
                        <a href="#" class="card-link textdec">View</a>
                        <a href="#" class="card-link textdec">Buy Now</a>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="py-4"></div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md py-2">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Award Winning</h5>
                    <p class="card-text">Top 15 award winning movies of the week.</p>
                    <a href="~/Movies" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <div class="col-md py-2">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Award Winning</h5>
                    <p class="card-text">Top 15 award winning movies of the week.</p>
                    <a href="~/Movies" class="btn btn-primary">More</a>
                </div>
            </div>
            </div>
        </div>
    </div>
